@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2", serif; /*fonte baloo e serifada como opcional*/
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

header{
    width: 100%;
    height: 100%vh; /*view header, 100% tamanho da tela qnd carregar(cel ou pc*/
    overflow: hidden;/*impossibilita o cabeçalho passar a janela*/
    position: relative;
}

.hamburguer{
   
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;   
}

.show-menu .hamburguer{
    right: 16rem;
    transition: all 1s;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: #fc4a1a;
    box-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, 0.5);
    transition: transform 1s;
}
.show-menu #line1{
    transform: translate(.4rem, .4rem) rotate(45deg) ;
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: translate(.2rem, -.5rem) rotate(-45deg);
    
}

.hamburguer span{
    position: absolute ;
    left: 3rem;
    height: 2;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fc4a1a;
    color: #FFF;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #fc4a1a;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}


.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.img-wrapper img{/*seletor css*/
    width: 100%;
    height: 100%;
    object-fit: cover;/*imagem cobre a div*/
    opacity: 0.7;
    animation: zoom 25s /*timing-function delay iteration-count direction fill-mode*/;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;/*precisa estar dentro de um relativo*/
    top: 10%;
    left: 15%;
}

.banner h1{/*seletor> só o h1 que está dentro do banner*/
    color: #fc4a1a;
    font-size: 3rem;/*proporcional a fonte principal*/
    font-family: var(--font-primary);
    font-weight: 300;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.5);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.5s forwards;
    opacity: 0;
}

.banner p{
    color: #fff;
    font-family: var(--font-secundary);
    font-size: 2rem;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.7s forwards;
    opacity: 0;
}

.banner button{
    font-family: var(--font-action);
    color: rgb(0, 0, 0);
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc4a1a, #dfdce3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc4a1a, #dfdce3); /*IE 10+/ Edge*/
    padding: 1rem 2rem;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;
    
}

.banner button:hover{
    color: #fff;
    
}

@keyframes moveBanner{
    0%{
      transform: translateY(10rem) rotateY(-30deg);
       
    }
    100%{
        
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 20rem ;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0rem;

}


.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
    
}


.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}


.menu-link:hover{
    color: #8E2DE2;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100% ;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    
    color: #8E2DE2;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: color 1s;
    
}

.social-media i:hover{
    color: #7400e0;
    opacity: .8;
}


.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .3rem;

}

.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}


.sessao-conhecimentos{
    background-color:  #dfdce3;
}

.sessao-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #fc4a1a;
    border-bottom: solid 3px #fc4a1a;
    margin-bottom: 1.5rem;
}


.conhecimento-header{
    display: flex;
    align-items: center;

}

.conhecimento-header i{
    font-size: 2.5rem;
    color: #f78733;
}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}
.conhecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem;
}

.conhecimento-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    }

.conhecimento-img-wrapper img{
    object-fit: cover;
    width: 100%;
}