@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

*{
    margin:0;
    padding: 0;
}


header{
    width: 100%;
    height: 100%vh; /*view header, 100% tamanho da tela qnd carregar(cel ou pc*/
    overflow: hidden;/*impossibilita o cabeçalho passar a janela*/
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img{/*seletor css*/
    width: 100%;
    height: 100%;
    object-fit: cover;/*imagem cobre a div*/
    opacity: 0.7;
    animation: zoom 25s /*timing-function delay iteration-count direction fill-mode*/;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;/*precisa estar dentro de um relativo*/
    top: 30%;
    left: 15%;
}

.banner h1{/*seletor> só o h1 que está dentro do banner*/
    color: rgb(255, 255, 255);
    font-size: 3rem;/*proporcional a fonte principal*/
    font-family: "Baloo Da 2", serif;/*fonte baloo e serifada como opcional*/
    font-weight: 300;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.5);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.5s forwards;
    opacity: 0;
}

.banner p{
    color: #fff;
    font-family: "Josefin Slab", serif;
    font-size: 2rem;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.7s forwards;
    opacity: 0;
}

.banner button{
    font-family: Mulish;
    color: #fff;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7400e0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 2rem;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;
    
}

.banner button:hover{
    opacity: 0.8;
}

@keyframes moveBanner{
    0%{
      transform: translateY(10rem) rotateY(-30deg);
       
    }
    100%{
        
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

